/*DOCUMENTO CSS SERIES Y LIBROS*/

* { margin: 0;
    padding: 0;}

section, div { box-sizing: border-box;}  

.primerlibro h4 { color: orangered;}

.segundolibro h4 { color: black; }

.tercerlibro h4 { color: blue; }

section { background-color: rgb(253, 196, 255);}

header, h2 { color: whitesmoke; 
             background-color: black;
             text-align: center;}

.ercontainer { width: 60%; 
               margin: auto; 
               padding: 2px;
               padding-top: 40px;
               display: flex;}
 
.segundolibro img { width: 250px;}                

.tercerlibro img { width: 250px;}

footer { text-align: center;
         padding: 20px;
         background-color: brown;}

div .ercontainer a { width: 33.33%; }