/*DOCUMENTO CSS*/
body { background-color: #ff93e4;}

/**/
header h1 { color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(231, 26, 26);
    width: 90%;
    min-height: 1px; 
    margin: 10px auto;
    padding: 30px;}

/**/
section h3 { color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(30, 146, 255);
    width: 70%;
    min-height: 1px; 
    margin: 20px auto;
    padding: 30px;}

/**/
section img { text-align: center;
    width: 90%;
    min-height: 1px; 
    margin: 20px auto;
    padding: 30px;}
/**/
section p { background-color: lightskyblue; 
            text-align: center;
            width: 60%;
            min-height: 1px; 
            margin: 20px auto;
            padding: 30px;}
